
.Wrapper_unitSkil {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   /* position: relative;  hide relative*/
}

._unitSkil {
   background-color: rgba(0, 154, 185, 0.7);
}

.itemName_unitSkil {
   position: sticky;
   border-radius: 5px;
   top: 60px;
   display: flex;
   width: 100%;
   height: fit-content;
   justify-content: flex-start;
   color: rgb(0, 0, 0);
   animation: show 1.5s ;
}   

.itemName_unitSkil > p { 
   font-size: 1em;
   display: inline-block;
   background-color: rgba(255, 255, 255, 0.7);
   width: fit-content;
   height: fit-content;
   padding: 5px;
   border-radius: 5px;
}   

.items_unitSkil {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin: 0 auto;
   width: 100%;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 5px;
   margin-bottom: 10px;
   background-color: rgba(0, 154, 185, 0.7);
}

.item_unitSkil{
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 5px;
   justify-content: center;
   text-align: center;
   margin: 15px;
   border-radius: 10px;
   padding: 20px;
   animation: show 2s;
   min-width: 200px;
   max-width: fit-content;
   width: auto;
   background-color: rgba(0, 0, 0, 0.20);
}

.item_unitSkil > p { 
   display: inline-block;
   color: rgb(255, 255, 255);
   font-size: 2em;
}

#goback_unitSkil:hover {
   border: 1px solid rgba(255, 255, 255, 1);
   background-color: rgba(0, 154, 185, 0.700);
   transform: translate(5px, 0px) scale(1.1);
   transition-duration: .5s;
}

.unitsItem {
   background-color: rgba(0, 154, 185, 0.700)
}

#skils_unitDetailInfo {
   text-align: center;
   color:rgb(255, 255, 255);
   margin: 0;
   font-size: 2em;
   background-color: rgba(0, 0, 0, 0.85);
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   right:0;
   -webkit-animation-duration: 0.5s;
   animation-duration: 0.5s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
   z-index: 3;
}

.unitsItemDetail {
   background-color: rgba(0, 154, 185, 0.7);
}


